footer {
     height: 60px;
     width: 100%;
     position: fixed;
     background: white;
     bottom: 0;
     border-top: 1px solid #CCCCCC;
}
 footer p {
     position: absolute;
     text-align: center;
     top: 10%;
     bottom: 0;
     left: 0;
     right: 0;
}

